body{
	position: static;
}

.MainContainer{
	border: 1px solid black;
	height: 100%;
}

.mainContent{
	/*height: 80%;*/
	right:0px;
	position: absolute;
	border: 1px solid green;
	overflow: auto;
}
.mainContent > *:hover{
	box-shadow: inset 0 0 5px rgba(10, 10, 10, 0.4);
}

.userCreatedElement{
	/*position: relative;*/


}
.Hovered{
	content: '*';
	border: none;
	outline: 2px dashed yellow;
	box-shadow: 0 0 0 2px #EA3556;
	animation:  1s animateBorder infinite;


}
.largerDiv:before{
	content: '';
	position: absolute;
	width: 120%;
	height: 120%;
	padding: px;
	left:-10%;
	top:-10%;
	/*border: 1px solid blue;*/
	box-shadow:0 0 15px  blue;
}


@keyframes animateBorder {
  to {
    outline: 2px dashed #EA3556;
    box-shadow: 0 0 0 2px yellow;
  }
}
.userCreatedElement.resizableElement:after{
	color: red;
	position: absolute;
	left: 0px;
	content: 'editable';
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	
}

.addInnerDivBtn{
	position: absolute;
	right:0;
	color: red;
}

.shapesContainer{
	width: 25%;
	height: 25%;
	border: 3px solid orange;
	position: absolute;
	bottom: 0px;
	/*overflow: scroll;*/
}

.shapesContainer:before{
	content: attr(data-link);
	position:absolute;
	top: -1.5em;
}

.innerShapesContainer{
	width: 100%;
	height: 100%;
	overflow: scroll;
}
/*.fa{
	color: red
}*/

.innerShapesContainer .fa{
	color:red;
	display: inline-block;
}
/*::-webkit-scrollbar{
	background-color: red;
	}
::-webkit-scrollbar-track{
	background-color: blue;
	}
::-webkit-scrollbar-thumb{
	background-color: green;
	}
	::-webkit-scrollbar-thumb:window-inactive{
		background-color: yellow;
		}*/

.toolBar{
	user-select: none;

	position: absolute;
	margin:auto;
	border: 1px solid pink;
}

.buttonContainer{
	margin:auto;
}

.leftSideToolBar{
	position: absolute;
	/*bottom: 0px;*/
	height: 80%;
	top:0PX;
	/*margin-top:1.2em;*/
	/*margin-bottom: 1.2em;*/
	
	left: 0px;
	/*height: 100vh;*/
	
}

.individialStyles > input{
	width:30px;
}
.elementStyles{
	/*width: 100px;*/
	display: block;


}
#elementsList li:nth-child(odd){
	background-color: green;
}
#elementsList li:nth-child(even){
	background-color: white;
}
#elementsList li:hover{
	background-color: red;
}


.topSideToolBar{
	width: 100%;
	top: 0px;
}

.topSideToolBar > * {
	text-align: center;

/*	display: inline-block;*/

}

select{
	text-align: center;
}

.rightSideToolBar{
	right: 0px;
	bottom: 0px;
	top: 0px;
	margin-top:1.2em;
	margin-bottom: 1.2em;
	height:80%;


}

.rightSideToolBar > .toolButton {
	display: block;

}
.selectedElementNameandDetails{
	color: goldenrod;
	text-decoration: underline;
	font-size: 20px;
}
.selectedElementDetailsSection input{
	width:100%;
}
th {
    font-weight: bold
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}
.underline{
	text-decoration: underline;
}
.displayNone{
	display: none;
}
.bottomSideToolBar{
	/*height: 20%;*/
	width: 100%;
	bottom: 0px;
}

.bottomSideToolBar > .toolButton {
	/*margin: 0px auto;*/
	/*display: block;*/ 

}

.hidden{
	display: none;
}
.shapeContainer{
	position: relative;
	display: inline-block;
	margin:15px;
	border: 1px solid grey;
	padding: 3px;
}

.shapeContainer:hover .fa{
	transition:all .1s ease;
	transform: scale(3);
	text-shadow: 3px 3px 3px rgba(100, 100, 100, 0.5)

}

/* container for the user created icons*/

/*.ucelIconDiv{
	position: absolute;
	display: inline-block;
	border: 2px solid goldenrod;
	margin: 3px;
	padding: 2px;
}*/

/*  user added icons to ucel */
.fa.BBC{
	position: absolute;
	display: inline-block;

	/*this should be styles for font icons*/
	color:green;
	/*padding: 10px;*/
	/*margin:10px;*/
	/*height: 100px;*/
	font-size: 4em;
	/*display: inline-block;*/
	/*width: 100px;*/
}
.fa.BBC:hover{
	box-shadow: 0 0 5px 5px rgba(111, 111, 111, 0.5);
}
.userCreatedElement::-webkit-scrollbar { 
  /* This is the magic bit */
  width: 0 !important
}





.inline{
	display: inline-block;
}

._resizeable{
	position: relative;
}
._resizeable:before{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 10px;
	height: 100%;
	background-color: rgba(233, 233, 233, 0.5);
}
._resizeable:after{
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	width: 10px;
	height: 100%;
	background-color: rgba(233, 233, 233, 0.5);
}

.save_delete_btn_container{
	position: absolute;
	top: 0px;
	right: 0px;
	border: 2px solid tomato;

}

.touchDislay{
	position: relative;
	/*remove whitespace hack
	/*on children divs inline*/
	/*font-size: 0;*/
	border: 2px solid blue;

}

/*   UTIL     */

 .touchBox{
 	width: 100px;
 	height: 100px;
 	position: relative;
	background-color: rgba(255, 0, 0, 0.5);
	border: 1px solid black;
	display: block;
	float: left;
	/*margin-right: -1px;*/
	/*font-size: 1em;*/
	/*width: 100px;*/
	/*height: 100px;*/
}

#canvas{
	border:1px solid goldenrod;
	display: inline-block;
/*	height: 300px;
	width: 600px;*/
	display: inline-block;
}

#dragon{
	display: inline-block;
	animation: 0.5s fly infinite steps(3);
	background:url(img/dragonFlyingMode.png);
	width: 200px;
	height:200px;
	/*background-position-x:0px; */
	/*background-position-y:0px; */
}
#runningman{
	display: inline-block;
	background:url(img/3drunningMan.png)no-repeat;
	background-position-x:0px; 
	background-position-y:0px; 
	width: 250px;
	height:300px;
	/*height:300px;*/
}

@keyframes fly{
	from{
		/*background-position-x:0;*/

		} 
	to{
	



		background-position-x:600px;
	}
}


@keyframes runh{
	0%{
		background-position-x:0px; 

		} 

	100%{
		background-position-x:-1440px; 



	}
}
@keyframes runv{
	0%{
		background-position-y:0px; 

		} 

	100%{
		/*background-position-y:-300px; */
		background-position-y:-1475px; 



	}
}

.aminate{
	border: 1px solid red;
}

#waterFall1{
	background:url(img/waterFall1x3.png)no-repeat;
	width:100px;
	height: 330px;
	display: inline-block;
	animation: waterFallIxE 0.3s steps(3) infinite;
	background-position-x:-14px; 

	
}
@keyframes waterFallIxE{
	0%{
		/*background-position-x:0px; */

		} 

	100%{
		/*background-position-y:-300px; */
		background-position-x:-336px; 



	}
}


#waterFall2{
	display: inline-block;
	width: 95px;
	height:175px;
	background:url(img/waterFall4x2.png)no-repeat;
	animation: fall2h 0.5s infinite steps(4);

	
}
#waterFall2Small{
	display: inline-block;
	width: 95px;
	height:175px;
	background:url(img/waterFall4x2.png)no-repeat;
	animation: fall2h 0.5s infinite steps(4);
	background-position-y:-200px; 

	
}

@keyframes fall2h{
	0%{

		} 

	100%{
		background-position-x:-385px; 
		/*background-position-x:-333px; */



	}
}



#waterFall3{
	width: 200px;
	height:350px;
	background:url(img/waterFallMARKED7x2.png)no-repeat;
	background-position-x:-25px; 
	animation: fallh 0.5s infinite steps(7),fallv 1.0s steps(2) infinite;

	
	
}
@keyframes fallh{
	0%{

		} 

	100%{
		background-position-x:-1475px; 
		/*background-position-x:-333px; */



	}
}
@keyframes fallv{
	0%{
		/*background-position-x:0px; */

		} 

	100%{
		/*background-position-y:-300px; */
		background-position-y:-700px; 



	}
}

.aminate{
	display: inline-block;
}

#waterSplash1{
	background-color: green;
	width: 150px;
	height:250px;
	background:url(img/waterSplash1x11.png)no-repeat;
/*	background-position-x:-25px; 
*/	animation: splah1h 1.0s infinite steps(11);
}

@keyframes splah1h{
	0%{
		background-position-x:-1650px; 

		} 

	100%{
		background-position-x:0px; 

	}
}


#waterSplash2{
		width: 200px;
		height:200px;
		background:url(img/waterSplash5x10.png)no-repeat;
	/*	background-position-x:-25px; 
	*/	animation: splah2h 0.5s infinite steps(5), splah2v steps(10) 5.0s infinite;
	
}

@keyframes splah2h{
	0%{

		} 

	100%{
		background-position-x:-950px; 
		/*background-position-x:-333px; */



	}
}
@keyframes splah2v{
	0%{
		/*background-position-x:0px; */

		} 

	100%{
		/*background-position-y:-300px; */
		background-position-y:-1915px; 



	}
}


#waterSplash3{
		width: 200px;
		height:200px;
		background:url(img/waterSplash5x5.jpg)no-repeat;
	/*	background-position-x:-25px; 
	*/	animation: splah3h 0.5s infinite steps(5), splah3v steps(6) 3.0s infinite;
	
}
#waterSplash3:before{
	content: '';
	width: 41px;
	height: 45px;
	border: 1px solid green;
	position: absolute;
}

@keyframes splah3h{
	0%{

		} 

	100%{
		background-position-x:-204px; 
		/*background-position-x:-333px; */



	}
}
@keyframes splah3v{
	0%{
		/*background-position-x:0px; */

		} 

	100%{
		/*background-position-y:-300px; */
		background-position-y:-245px; 



	}
}





















.shapeContainer:hover [class*="newShape_"],
.shapeContainer:hover [class*="newShape_"]:after,
.shapeContainer:hover [class*="newShape_"]:before
{
	box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.5)	

}


[class*="newShape_"]{
	margin: 10px;
	

}

/*[class*="newShape_"]:hover{
	box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.5)	

}*/

.newShape_square{
	width: 10px;
	height: 10px;
	background-color: red;
	
}
.newShape_circle{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: red;

	
}
.newShape_star{
	margin: 10px;
	position: relative;
	display: block;
	color: red;
	width: 0px;
	height: 0px;
	border-right:  10px solid transparent;
	border-bottom: 7px  solid red;
	border-left:   10px solid transparent;
	-moz-transform:    rotate(35deg);
	-webkit-transform: rotate(35deg);
	-ms-transform:     rotate(35deg);
	-o-transform:      rotate(35deg);
}
.newShape_star:before{
	border-bottom: 8px solid red;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -4.5px;
	left: -6.5px;
	display: block;
	content: '';
	-webkit-transform: rotate(-35deg);
	-moz-transform:    rotate(-35deg);
	-ms-transform:     rotate(-35deg);
	-o-transform:      rotate(-35deg);

}
.newShape_star:after{
	position: absolute;
	display: block;
	color: red;
	top: .3px;
	left: -10.5px;
	width: 0px;
	height: 0px;
	border-right: 10px solid transparent;
	border-bottom: 7px solid red;
	border-left: 10px solid transparent;
	-webkit-transform: rotate(-70deg);
	-moz-transform:    rotate(-70deg);
	-ms-transform:     rotate(-70deg);
	-o-transform:      rotate(-70deg);
	content: '';
}
.newShape_triangle{
	width: 0px;
	height: 0px;
	border: 10px solid transparent;
	border-left: 10px none transparent;
	border-right: 10px solid red;
}

.newShape_octagon{
	width: 20px;
	height: 20px;
	background: red;
	position: relative;
	display: block;
}
.newShape_octagon:before{
	content: "";
	position: absolute;
	display: block;

	top: 0;
	left: 0;
	border-bottom: 6px solid red;
	border-left: 6px solid #eee;
	border-right: 6px solid #eee;
	width: 8px;
	height: 0;
}
.newShape_octagon:after{
	content: "";
	display: block;

	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 6px solid red;
	border-left: 6px solid #eee;
	border-right: 6px solid #eee;
	width: 8px;
	height: 0;
}


.newShape_heart{
	width: 21.2px;
	height: 10.0px;
	position: relative;
}
.newShape_heart:before,
.newShape_heart:after{
		/*margin:15px;*/

    position: absolute;
    display: block;
    content: "";
    left: 10px;
    top: 0;
    width: 10px;
    height: 16px;
    background: red;
    border-radius: 50% 50% 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.newShape_heart:after{
    left: 0;

            transform: rotate(45deg);

            transform-origin :100% 100%;
}
.newShape_infinity{
	position: relative;
	width: 21.2px;
	height: 10.0px;
}

.newShape_infinity:before,
.newShape_infinity:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 6.0px;
	height: 6.0px;
	border: 2.0px solid red;
	-moz-border-radius: 50% 50% 0 50%;
	     border-radius: 50% 50% 0 50%;
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.newShape_infinity:after{
	left: auto;
	right: 0;
	-moz-border-radius: 50% 50% 50% 0;
	     border-radius: 50% 50% 50% 0;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}


.newShape_yin-yang{
	width: 96px;
	height: 48px;
	background: #eee;
	border-color: red;
	border-style: solid;
	border-width: 2px 2px 50px 2px;
	border-radius: 100%;
	position: relative;
}

.newShape_yin-yang:before{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	background: #eee;
	border: 18px solid red;
	border-radius: 100%;
	width: 12px;
	height: 12px;
}

.newShape_yin-yang:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	background: red;
	border: 18px solid #eee;
	border-radius:100%;
	width: 12px;
	height: 12px;
}